body{
	background: #16161d;
}

.title {
	background: #A8A7E8;
	width: 250px;
	margin: 10px auto;
	padding: 10px;
	color: #16161d;
	text-align: center;
	font-family: Helvetica, Verdana, sans-serif;
	border: 10px solid #B7C9FF;
}

.groupContainer {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #B7C9FF;
}

.groupBox {
	background: #A8A7E8;
	float: left;
	width: 250px;
	margin: 5px 5px;
	padding: 10px;
	color: #16161d;
	font-family: Helvetica, Verdana, sans-serif;
	border: 10px solid #B7C9FF;
}

.groupBox h3 {
	text-align: center;
}

.group {
	float: left;
	width: 220px;
	min-height: 40px;
	margin: 2px 0;
	padding: 7px 0;
	border-bottom: 2px solid #16161d;
}

.groupNumber {
	float: left;
	min-height: 40px;
	line-height: 40px;
	width: 30px;
	margin: 2px 0;
	padding: 7px 0;
	border-bottom: 2px solid #16161d;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */